
.home .my-image{
	position: relative;
	width: inherit;
	height: 350px;
}

.home .my-image .svg {
	width: 100%;
	margin-top: 30px;
	fill: #787f6a;
}

.home .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}