.SkillsContainer {
    flex-wrap: wrap;
}

.SkillsContainer .skill{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 9px;
    padding-right: 9px;

    /*margin-right: 15px;*/
    margin-top: 8px;

    border:solid;
    border-width: thin;
    border-radius: 8px;
    border-color: #0084b4;

    font-weight: lighter;
    font-size: smaller;
    color: #404040;

}

.skill { transition: all .2s ease-in-out; }
.skill:hover { transform: scale(1.1); }